In [44]:
pets = [('Hatiko', 'Parker', 'Wilson', 50),
        ('Rusty', 'Josh', 'King', 25),
        ('Fido', 'John', 'Smith', 28),
        ('Butch', 'Jake', 'Smirnoff', 18),
        ('Odi', 'Emma', 'Wright', 18),
        ('Balto', 'Josh', 'King', 25),
        ('Barry', 'Josh', 'King', 25),
        ('Snape', 'Hannah', 'Taylor', 40),
        ('Horry', 'Martha', 'Robinson', 73),
        ('Giro', 'Alex', 'Martinez', 65),
        ('Zooma', 'Simon', 'Nevel', 32),
        ('Lassie', 'Josh', 'King', 25),
        ('Chase', 'Martha', 'Robinson', 73),
        ('Ace', 'Martha', 'Williams', 38),
        ('Rocky', 'Simon', 'Nevel', 32)]

# pet_dict = {}
# for pet in pets:
#     if pet[1] in pet_dict:
#         pet_dict[pet[1]].append(pet[0])
#     else:
#         pet_dict[pet[1]] = [pet[0]]
pet_dict = {}
for pet in pets:
    pet_dict.setdefault(pet[1:], []).append(pet[0])
print(pet_dict)

{('Parker', 'Wilson', 50): ['Hatiko'], ('Josh', 'King', 25): ['Rusty', 'Balto', 'Barry', 'Lassie'], ('John', 'Smith', 28): ['Fido'], ('Jake', 'Smirnoff', 18): ['Butch'], ('Emma', 'Wright', 18): ['Odi'], ('Hannah', 'Taylor', 40): ['Snape'], ('Martha', 'Robinson', 73): ['Horry', 'Chase'], ('Alex', 'Martinez', 65): ['Giro'], ('Simon', 'Nevel', 32): ['Zooma', 'Rocky'], ('Martha', 'Williams', 38): ['Ace']}

In [45]:
s = 'orange strawberry barley gooseberry apple apricot barley currant orange melon pomegranate banana banana orange barley apricot plum grapefruit banana quince strawberry barley grapefruit banana grapes melon strawberry apricot currant currant gooseberry raspberry apricot currant orange lime quince grapefruit barley banana melon pomegranate barley banana orange barley apricot plum banana quince lime grapefruit strawberry gooseberry apple barley apricot currant orange melon pomegranate banana banana orange apricot barley plum banana grapefruit banana quince currant orange melon pomegranate barley plum banana quince barley lime grapefruit pomegranate barley'
x = {}
for el in s.split():
    x[el] = s.count(el)
print(x)

{'orange': 8, 'strawberry': 4, 'barley': 12, 'gooseberry': 3, 'apple': 2, 'apricot': 7, 'currant': 6, 'melon': 5, 'pomegranate': 5, 'banana': 12, 'plum': 4, 'grapefruit': 6, 'quince': 5, 'grapes': 1, 'raspberry': 1, 'lime': 3}

In [ ]:
pets = [('Hatiko', 'Parker', 'Wilson', 50),
        ('Rusty', 'Josh', 'King', 25),
        ('Fido', 'John', 'Smith', 28),
        ('Butch', 'Jake', 'Smirnoff', 18),
        ('Odi', 'Emma', 'Wright', 18),
        ('Balto', 'Josh', 'King', 25),
        ('Barry', 'Josh', 'King', 25),
        ('Snape', 'Hannah', 'Taylor', 40),
        ('Horry', 'Martha', 'Robinson', 73),
        ('Giro', 'Alex', 'Martinez', 65),
        ('Zooma', 'Simon', 'Nevel', 32),
        ('Lassie', 'Josh', 'King', 25),
        ('Chase', 'Martha', 'Robinson', 73),
        ('Ace', 'Martha', 'Williams', 38),
        ('Rocky', 'Simon', 'Nevel', 32)]

xxx = {}
for el in pets:
    print(type(el))
    xxx.setdefault(el[4:], [])
print(xxx)

In [28]:
s = 'orange strawberry barley gooseberry apple apricot barley currant orange melon pomegranate banana banana orange barley apricot plum grapefruit banana quince strawberry barley grapefruit banana grapes melon strawberry apricot currant currant gooseberry raspberry apricot currant orange lime quince grapefruit barley banana melon pomegranate barley banana orange barley apricot plum banana quince lime grapefruit strawberry gooseberry apple barley apricot currant orange melon pomegranate banana banana orange apricot barley plum banana grapefruit banana quince currant orange melon pomegranate barley plum banana quince barley lime grapefruit pomegranate barley'
x = {}
for el in set((s).split()):
    x[(s.count(el))] = el

print(x[(max(x.keys()))])

banana

In [19]:
x = 'London is the capital of Great Britain. More than six million people live in London. London lies on both banks of the river Thames. It is the largest city in Europe and one of the largest cities in the world. London is not only the capital of the country, it is also a very big port, one of the greatest commercial centres in the world, a university city, and the seat of the government of Great Britain!'
smth = '.,!?:;-'
for el in x:
    if el in smth:
        x = x.replace(el, '')

len_word_dict = {}
for word in set((x.lower()).split()):
    len_word_dict[len(word)] = [word]
print(*len_word_dict[min(len_word_dict.keys())])


print(x)

a
London is the capital of Great Britain More than six million people live in London London lies on both banks of the river Thames It is the largest city in Europe and one of the largest cities in the world London is not only the capital of the country it is also a very big port one of the greatest commercial centres in the world a university city and the seat of the government of Great Britain

In [22]:
# 10.4.3  https://stepik.org/lesson/488831/step/3?unit=480067
smth = '.,!?:;-'
for i in range(1):
    
    x = list(input())

print(x)

['g', 'h', 'b', 'd', 't', 'n']

In [25]:
# 10.4.5  https://stepik.org/lesson/488831/step/5?unit=480067

n = int(input())

new_dict = {}
for _ in range(n):
    string = input().split()
    new_dict.setdefault(string[0], string[1:])

m = int(input())
for _ in range(m):
    x = input()
    for i, j in new_dict.items():
        if x in j:
            print(i)


print(new_dict)

Нидерланды
Нидерланды
Нидерланды
{'Германия': ['Берлин', 'Мюнхен', 'Гамбург', 'Дортмунд'], 'Нидерланды': ['Амстердам', 'Гаага', 'Роттердам', 'Алкмар']}

In [1]:
# 10.4.5  https://stepik.org/lesson/488831/step/6?unit=480067

n = int(input())

new_dict = {}
for _ in range(n):
    string = input().split()
    new_dict.setdefault(string[1], []).append(string[0])

m = int(input())

for _ in range(m):
    name = input().title()
    if name in new_dict.keys():
        print(*(new_dict[name]))
    else:
        print('абонент не найден')

123123123123 123123123123

In [ ]:
test